<div class="container">
    <legend>Edit Note</legend>
    <form>
        <div class="mb-3">
            <label for="txtTitle" class="form-label">Title</label>
            <input type="text" name="title" [(ngModel)]="formData.title" class="form-control" id="txtTitle" />
        </div>
        <div class="mb-3">
            <label for="txtBody" class="form-label">Body</label>
            <input type="text" name="body" [(ngModel)]="formData.body" class="form-control" id="txtBody" />
        </div>
         <!--checkbox-->
         <div class="field">
            <input type="checkbox" id="favorites" [(ngModel)]="formData.favorite" name="favorites">
            <label for="favorites">Favorite</label>
        </div> 
        <button type="button" (click)="update()" class="btn btn-primary">Update</button>
    </form>
</div>
