<div class="container">
  
  <div *ngIf="isNavBarRequired">
    <nav class="navbar navbar-expand lg navbar-dark bg-dark">
    <div class="toolbar" *ngIf="isMenuRequired" role="banner">
    
      <a routerLink="">Home</a>
      <br>
      <a routerLink="note/home">Actions</a>
      <a routerLink="/search">Search</a>
      <a routerLink="/login">Logout</a>
    </div>
    
    
    
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Notes</a>
    </div>
    <div class="d-flex me-3">

      <a class="btn btn-success" routerLink="/note/create">Add+</a>
    </div>
  </nav>
</div>
</div>
<router-outlet></router-outlet>