<form [formGroup]="registerForm" (ngSubmit)="register()">
    <h1>User Registration</h1>
    <!--username credential-->
    <label>Username:</label><br>
    <input type="text" class="input" name="username" formControlName="username">
    <div style="color:red" *ngIf="userTouch && usernameError">Username needs to be at least 6 characters!</div>
    <br>

    <!--password credential-->
    <label>Password:</label><br>
    <input type="password" class="input" name="password" formControlName="password">
    <div style="color:red" *ngIf="passTouch && passwordError">Password needs to be at least 8 characters!</div>
    <br>
    
    <!--confirmPassword credential-->
    <label>Confirm Password:</label><br>
    <input type="text" class="input" name="confirmPassword" formControlName="confirmPassword">
    <div style="color:red" *ngIf="registerForm.errors?.['passwordMatchError']">Password Does Not Match!</div>
    
    <br>
    <br>
    
    <!--register button-->
    <button type="submit" [disabled]="registerForm.invalid">Register</button>
    <br>
    <!--back to login-->
    <a routerLink="/login">Back to Login</a>

</form>
